<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- 全局映射器启用缓存 -->
        <setting name="cacheEnabled" value="true" />
        <setting name="logImpl" value="SLF4J"/>
        <setting name="logPrefix" value="dao."/>
        <!-- 查询超时 -->
        <setting name="defaultStatementTimeout" value="25000" />
    </settings>


</configuration>